
body {
    background-color: black;
}

.user-profile {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
   
    border: 10px solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #ff0066, #ffcc00, #66ffcc, #00ccff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: gradientRotate 5s linear infinite;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.user-name {
    font-size: 2em;
    margin: 0.5em 0;
    color: #333;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards 0.5s;
}

.user-email {
    color: gray;
    margin: 0.5em 0;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards 1s;
}

.user-bio {
    font-style: italic;
    color: #666;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards 1.5s;
}

.user-phone,
.user-address {
    margin: 0.5em 0;
    color: #333;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards 2s;
}

.social-media-links {
    margin-top: 1em;
}

.social-media-links ul {
    list-style-type: none;
    padding: 0;
}

.social-media-links li {
    margin: 0.5em 0;
}

.social-media-links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-media-links a:hover {
    color: #0056b3;
    text-decoration: underline;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientRotate {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
